
       <div id="gear"> <h3>About</h3>
     <h6 style="text-align: center">Adding one success to the other, we currently own and manage 11 resorts and 7 cruises, beautifully scattered in the most authentic locations Egypt has to offer, taking advantage of both modern and Arabian architecture, elegantly blended into an orchestrated Man and Nature symphony. 

        With a family of more than 4000 highly motivated / well trained employees, SUNRISE Resorts and Cruises has succeeded to set a new benchmark in hospitality management in Egypt.
        
        Whether our guests are travelling for romance, a family holiday, business, visiting family or friends, or going on an adventure to discovering a mystical destination, SUNRISE is the right place to be..
        
        From fun family resorts to exclusive Adults- only resorts, to comfortable relaxing atmosphere, we take pride in offering a beautiful collection of world class resorts, catering for all the needs of today’s traveler.</h6>
      <p>We accept: <i class="fa fa-credit-card w3-large"></i> <i class="fa fa-cc-mastercard w3-large"></i> <i class="fa fa-cc-amex w3-large"></i> <i class="fa fa-cc-cc-visa w3-large"></i><i class="fa fa-cc-paypal w3-large"></i></p>
    
    <div class="w3-row w3-large w3-center" style="margin:32px 0">
      <div class="w3-third"><i class="fa fa-map-marker w3-text-red"></i> 5 Albertina Sisulu, Johannesburg, SA</div>
      <div class="w3-third"><i class="fa fa-phone w3-text-red"></i> Phone: +27 818721212</div>
      <div class="w3-third"><i class="fa fa-envelope w3-text-red"></i> Email: deriksadiki.com</div>
    </div>
    </div>