
<div class="all">
<div class="floating-box">
        <img src="../../images/bed2.jpg">
        <h3>Single Room</h3>
        <h6 class="w3-opacity">From R499</h6>
        <p>Single bed</p>
        <p>12m<sup>2</sup></p>
        <p class="w3-large"><i class="fa fa-bath"></i> <i class="fa fa-wifi"></i></p>
        <input #num1 type="checkbox" value="499" (click) = "price(num1.value)">Choose Room
</div>
<div class="floating-box">
           <img src="../../images/bed1.jpg">
                    <h3>Deluxe Room</h3>
                    <h6 class="w3-opacity">From R899</h6>
                    <p>Queen Size bed</p>
                    <p>17m<sup>2</sup></p>
                    <p class="w3-large"><i class="fa fa-bath"></i> <i class="fa fa-television"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"> <i class="fa fa-coffee"> </i></i></p>
                    <input   #num2 type="checkbox" value="899" (click) = "price(num2.value)">Choose Room
</div>
<div class="floating-box">
        <img src="../../images/pic3.jpg">
        <h3>Deluxe Room</h3>
        <h6 class="w3-opacity">From R699</h6>
        <p>King Size bed</p>
        <p>15m<sup>2</sup></p>
        <p class="w3-large"><i class="fa fa-bath"></i> <i class="fa fa-television"></i> <i class="fa fa-wifi"> <i class="fa fa-coffee"> </i></i></p>
        <input  #num3 type="checkbox" value="699" (click) = "price(num3.value)">Choose Room
</div>
<br>
<br>
<div class="floating-box">
        <img src="../../images/pic4.jpg">
        <h3>Single Room</h3>
        <h6 class="w3-opacity">From R550</h6>
        <p>Double bed</p>
        <p>15m<sup>2</sup></p>
        <p class="w3-large"><i class="fa fa-shower"></i> <i class="fa fa-wifi"></i></p>
        <input  #num4 type="checkbox" value="550" (click) = "price(num4.value)">Choose Room
</div>

<div class="floating-box">
        <img src="../../images/pic5.jpg">
        <h3>Double Room</h3>
        <h6 class="w3-opacity">From R599</h6>
        <p>King Size bed</p>
        <p>16m<sup>2</sup></p>
        <p class="w3-large"><i class="fa fa-bath"></i><i class="fa fa-wifi"></i><i class="fa fa-laptop"></i></p>
        <input #num5 type="checkbox" value="500" (click) = "price(num5.value)">Choose Room
</div>
<div class="floating-box">
        <img src="../../images/pic6.jpg">
        <h3>Single Room</h3>
        <h6 class="w3-opacity">From R799</h6>
        <p>Double bed Pro</p>
        <p>14m<sup>2</sup></p>
        <p class="w3-large"><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> <i class="fa fa-coffee"> </i></p>
        <input #num6  type="checkbox"  value="799" (click) = "price(num6.value)">Choose Room
       
</div>



<br>
<button type="button" class="w3-button w3-black w3-margin-top" type="submit" a routerLink = '/resev' (click) = "dis()">Continue</button>
</div>