<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<ul>
    <li><a routerLink = '/contacts'>Contact US</a></li>
    <li><a routerLink = '/aboutus'>About</a></li>
    <li><a routerLink = '/facilities'>Gallery</a></li>
    <li><a routerLink = '/book'>Rooms</a></li>
    <li><a  routerLink = '/'>Home</a></li>
    <div class="lip">
      <dd><h1 style="color: white; font-size: 45px">SUN <span style="color:  rgb(155, 155, 88)">RISE</span></h1></dd>
      <dd><p style="color:  rgb(155, 155, 88)">Your Dreamy Hotel</p></dd>
    </div>
  </ul>
<body id = "content">
    <router-outlet></router-outlet>
</body>
